html,
body {
  margin: 0;
  height: 100%;
}

.App {
  color: #fff;
  text-align: center;
  font-family: "Fredericka the Great", cursive;
  background-image: url(../public/black-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  min-height: 100vh;
}

.color-nav {
  background-color: #000;
}

.nav-link {
  font-size: 4vh;
}

.home-page {
  color: #fff;
  background-size: cover;
  height: 100vh;
  background-image: url(../public/wallpaper.jpg);
  background-color: black;
}

.home-page h1 {
  font-size: 10vh;
}

.home-page img {
  padding-top: 160px;
  width: 90vh;
}

.image-list {
  width: 100%;
  height: 54%;
}

.game-container {
  margin: 0 auto;
  width: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
}

.game-container img {
  height: 100%;
  width: 95%;
}

.card-game {
  width: 100%;
  height: 24vh;
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  cursor: pointer;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #dedede;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.is-inactive {
  opacity: 100%;
  cursor: default;
}
.score-list {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.house-button {
  padding-top: 3vh;
  width: 16vh;
  background-color: transparent;
  border-style: none;
  justify-content: center;
}

.house-button:first-of-type {
  margin-left: 0;
}

.house-button:last-of-type {
  margin-right: 0;
}

.house-button img {
  width: 100%;
  height: 18vh;
  object-fit: cover;
}

.moves {
  font-size: 48px;
  text-align: right;
}

.btn {
  margin-left: 80px;
  margin-top: 6px;
  float: left;
  width: 120px;
  height: 50px;
  font-size: 26px;
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.page-title {
  padding-top: 2vh;
  font-size: 9vh;
}

.footer-game {
  padding-top: 30px;
}

.logo-nav {
  margin-left: 3vh;
  width: 8vh;
  height: 8vh;
}

.description {
  font-size: 28px;
}
.new-form {
  margin: 0 auto;
  padding-top: 5vh;
  width: 50%;
}

.form-label {
  font-size: 5vh;
}

.btn-form {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  font-size: 26px;
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.btn-form:hover {
  background-color: #fff;
  color: #000;
}

.btn-form:focus {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.score-page {
  font-size: 40px;
}

.char-name {
  font-size: 5vh;
}

.char-description {
  font-size: 3.5vh;
}

.char-description-detail {
  margin-top: -1vh;
  font-size: 2.9vh;
}

.search-form {
  background-color: rgba(255, 255, 255, 0.557);
  color: #fff;
}

.search-input {
  padding-top: 3vh;
  margin: 0 auto;
  width: 42%;
}

.play-game {
  display: flex;
}

.homepage h1:hover {
  margin: 0 auto;
  cursor: pointer;
}

.sound-btn {
  margin-right: 5vh;
  font-size: 5vh;
  color: rgba(255, 255, 255, 0.724);
}

.sound-btn-off {
  margin-right: 5vh;
  font-size: 5vh;
  color: rgba(255, 255, 255, 0.308);
}

.sound {
  background-color: transparent;
  border: none;
}

.modal-image {
  height: 32vh;
}

.wand-new {
  list-style: none;
  margin-left: -3vh;
}

.modal-comp .modal-content {
  background-color: rgba(0, 0, 0, 0.805);
  color: #fff;
  font-family: "Fredericka the Great", cursive;
}

.btn-remove {
  margin-left: 0vh;
  width: 35vh;
}

.play-home-btn {
  cursor: pointer;
}
