.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(20% - 2rem);
  }

  .card img {
    height: 180px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(15% - 2rem);
  }
}
.cards {
  list-style: none;
}
.logo {
  max-width: 140px;
}

.container {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
}

.container img {
  height: 95%;
  width: 95%;
}

.card-game {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #dedede;
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}
